MONGODB_URI=                            mongodb://127.0.0.1:27017/nextupkit

NEXTAUTH_SECRET=                        
NEXTAUTH_URL=                           http://localhost:3000

FROM_EMAIL=                             noreply@example.com
RESEND_API_KEY=                         

GOOGLE_CLIENT_ID=                       
GOOGLE_CLIENT_SECRET=                   

GITHUB_CLIENT_ID=                       
GITHUB_CLIENT_SECRET=                   

NEXT_PUBLIC_APP_URL=                    http://localhost:3000
NEXT_PUBLIC_ENV=                        dev

NEXT_PUBLIC_GOOGLE_ANALYTICS=
NEXT_PUBLIC_CRISP_ID=
